<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <div class="top">
        <h1>{{ message }}</h1>
        {% if logged_in == "true" %}
        <div class="logged">
            <strong>Logged in as: {{ username }}</strong>
        </div>
        {% else %}
        <div class="not-logged">
            <strong>Not logged in</strong>
        </div>
        {% endif %}
    </div>

    <h2>New Note</h2>
    <form action="/notes" method="post">
        <!-- <input type="number" name="user_id" required> -->
        <input type="text" name="title" required>
        <textarea name="content"></textarea>
        <input type="color" name="color" value="#ffffff" id="color">
        <button type="submit">Add Note</button>
    </form>

    <a href="/notes">View Notes</a>
    <br>
    {% if logged_in == "true" %}
    <a href="/logout">Logout</a>
    {% else %}
    <a href="/signup">Sign Up</a>
    <br>
    <a href="/login">Login</a>
    {% endif %}
</body>
</html>