body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    background-color: #e0e1e3;
    color: #111827;
}

h1 {
    margin-bottom: 50px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 400px;
    margin-bottom: 20px;
}

input,
textarea,
button {
    padding: 5px;
    border-radius: 2px;
    border: 1px solid rgb(152, 121, 244);
    font-size: 20px;
}

button {
    background-color: #3b82f6;
    color: white;
    border-color: transparent;
}

button:hover {
    background-color: #346ee9;
}

a {
    color: #2563eb;
}