body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    background-color: #e0e1e3;
    color: #111827;
}

h1 {
    margin-bottom: 50px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 400px;
    margin-bottom: 20px;
}

input,
textarea,
button {
    padding: 5px;
    border-radius: 2px;
    border: 1px solid rgb(121, 129, 244);
    font-size: 20px;
}

button {
    background-color: rgb(121, 129, 244);
    color: white;
    border-color: transparent;
}

button:hover {
    background-color: rgb(88, 97, 224);
}

a {
    color: rgb(121, 129, 244);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(121, 129, 244);
  color: white;
  text-align: center;
}
